version: "3.8"

services:
  # -------------------------------------------------------
  # 1. System Under Test (SUT)
  # -------------------------------------------------------

  # Apache Web Server (Target 1)
  apache:
    image: httpd:latest
    container_name: sut-apache
    ports:
      - "8080:80" # เข้าผ่าน http://localhost:8080
    deploy:
      resources:
        limits:
          cpus: "0.5" # จำกัด CPU 0.5 Core
          memory: 512M # จำกัด RAM 512MB
    networks:
      - performance-test-net

networks:
  performance-test-net:
    driver: bridge
